{% extends "template.html" %}

{% block conteudo %}
<div class="flex-container">
    <div id="anuncio01">
        <div id="descripition-example-1">
            <img src="../../static/img/ferrari.jpg" id="ferrari">
        </div>
        <h2 id="title-car">Ferrari</h2>
        <p>
            <R1 id="price">2.000.000,00</R1>
        </p>
        <p id="location"> São Paulo, SP</p>
        <p id="expiration">Expira em 2(dois) dias</p>
        <a id="btn-buy" href="/sales/1">Buy</a>
    </div>
    <div id="anuncio02">
        <div id="descripition-example-1">
            <img src="../../static/img/lamborghini.jpg" id="ferrari">
        </div>
        <h2 id="title-car">lamborghini</h2>
        <p>
            <R1 id="price">2.000.000,00</R1>
        </p>
        <p id="location"> São Paulo, SP</p>
        <p id="expiration">Expira em 5(cinco) dias</p>
        <a id="btn-buy" href="/sales/2">Buy</a>
    </div>
    <div id="anuncio03">
        <div id="descripition-example-1">
            <img src="../../static/img/mustang.jpg" id="ferrari">
        </div>
        <h2 id="title-car">Mustang</h2>
        <p>
            <R1 id="price">1.000.000,00</R1>
        </p>
        <p id="location"> São Paulo, SP</p>
        <p id="expiration">Expira em 10(dez) dias</p>
        <a id="btn-buy" href="/sales/3">Buy</a>
    </div>
</div>
{% endblock %}