<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style-index.css">
    {% block style_sales %}{% endblock %}
    <link rel="stylesheet" href="https://icons8.com/icon/84898/usuário-homem-com-círculo">
    <link target="_blank" href="https://icons8.com">
    <title>Auction Project</title>
</head>

<body>
    <header>
        <div id="div-header">
            <img src="/static/img/empresa.png" alt="Logotipo Leilão Lata Velha" id="img-logo">
            <input type="text" placeholder="Search" id="search">
            <a id="btn-new" href="{{ url_for('sales')}}">All products</a>
            <p id="user-header"> Olá usuário</p>
            <span id="icon-user">
                <img src="/static/img/icon-user.png" alt="">
            </span>
        </div>
    </header>
    <main>
        {% block conteudo %}{% endblock %}
    </main>
	<footer>
		{# Aqui vão ficar as tags do rodapé #}
		<p>Leilão Lata Velha - Todos os direitos reservados<br>
		Contato: <a href="mailto:email@leilaolatavelha.com.br" id="link-email">email@leilaolatavelha.com.br</a></p>
	</footer>
</body>

</html>