#title-header{
    display: flex;
    justify-content: center;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-empresa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

footer {
	background-color: white;
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 5px;
}