#search{
    display: inline;
    position: absolute;
    left: 850px;
    top: 17px;
    width: 350px;
}
#title-header{
    display: inline;
}
#user-header{
    display: inline;

}
#user-header{
    display: inline;
    position: absolute;
    right: 45px;
}
#icon-user{
    position:absolute;
    right: 15px;
    top: 17px;
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
}
#anuncio01{
    width: 350px;
    height: 450px;
    border: 5px solid black;
    position: absolute;
    top: 100px;
    left:30px;
}
#descripition-example-1{
    display: flex;
    justify-content: center;
}
#ferrari{
    width: 110px;
}
#title-car{
    display: flex;
    justify-content: center;
}
#text-descripition{
    display: flex;
    justify-content: center;
}
#price{
    display: flex;
    justify-content: center;
}
#location{
    display: flex;
    justify-content: center;
}
#expiration{
    display: flex;
    justify-content: center;
}
#anuncio02{
    width: 350px;
    height: 450px;
    border: 5px solid black;
    position: absolute;
    top: 100px;
    left:450px;
}
#anuncio03{
    width: 350px;
    height: 450px;
    border: 5px solid black;
    position: absolute;
    top: 100px;
    left:880px;
}
#btn-buy{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#btn-new{
    background-color: #4c7faf;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

footer {
	background-color: white;
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 5px;
}