{% extends "template.html" %}

{% block style_sales %}

<link rel="stylesheet" href="/static/css/style-sales.css">

{% endblock %}
{% block conteudo %}

<div>
    <a id="btn-create" href="{{ url_for('register_sale')}}">New product</a>
</div>

<div>
    <h1>Sales Page</h1>
</div>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Date limit</th>
        </tr>
        <tr>
            <td>Ferrari</td>
            <td>$2.000.000,00</td>
            <td>Cars</td>
            <td>04/18/2022</td>
            <td><a id="btn-buy" href="/sales/2">Buy</a></td>
        </tr>
        <tr>
            <td>Mustang</td>
            <td>$2.000.000,00</td>
            <td>Cars</td>
            <td>04/18/2022</td>
            <td><a id="btn-buy" href="/sales/2">Buy</a></td>
        </tr>
        <tr>
            <td>Lamborghini</td>
            <td>$2.000.000,00</td>
            <td>Cars</td>
            <td>04/18/2022</td>
            <td><a id="btn-buy" href="/sales/2">Buy</a></td>
        </tr>
    </table>
</div>

{% endblock %}